# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.idea
__pycache__/getdevs.cpython-37.pyc
__pycache__/select_gui.cpython-37.pyc
__pycache__/Start.cpython-39.pyc
__pycache__/WhaleTrace.cpython-37.pyc
__pycache__/WhaleUi.cpython-37.pyc
