# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

/.idea/WhaleTrace.iml
/.idea/vcs.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/modules.xml
/.idea/misc.xml
/.idea/.gitignore
